<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloServletName</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletName</servlet-name>
    <url-pattern>/HelloServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadServletName</servlet-name>
    <servlet-class>LoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadServletName</servlet-name>
    <url-pattern>/LoadServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitTestName</servlet-name>
    <servlet-class>SubmitTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTestName</servlet-name>
    <url-pattern>/SubmitTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterName</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterName</servlet-name>
    <url-pattern>/Register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginName</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginName</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChartName</servlet-name>
    <servlet-class>Chart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartName</servlet-name>
    <url-pattern>/Chart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQueryTimeName</servlet-name>
    <servlet-class>UpdateQueryTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQueryTimeName</servlet-name>
    <url-pattern>/UpdateQueryTime1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQueryTimeName</servlet-name>
    <servlet-class>GetQueryTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQueryTimeName</servlet-name>
    <url-pattern>/GetQueryTime1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServerName</servlet-name>
    <servlet-class>CookieServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServerName</servlet-name>
    <url-pattern>/CookieServer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServletName</servlet-name>
    <servlet-class>SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServletName</servlet-name>
    <url-pattern>/SessionServlet1</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>testName</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testName</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
</web-app>